@model SalesWeb.Models.Departamento

@{
    ViewData["Title"] = "Remover departamento";
}

<h2>@ViewData["Title"]</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn btn-primary">Confirmar&nbsp; <span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
    </form>
</div>
