@{
    ViewData["Title"] = "Relatórios";
}

<h2>@ViewData["Title"]</h2>

<div class="list-group">
    <a asp-action="VendasGerais" class="list-group-item">Vendas gerais</a>
    <a asp-action="VendasPorPeriodo" class="list-group-item">Vendas por período</a>
    <a asp-action="VendasPorVendedor" class="list-group-item">Vendas por vendedor</a>
    <a asp-action="VendasPorDepartamento" class="list-group-item">Vendas por departamento</a>
</div>