@model SalesWeb.Models.Venda

@{
    ViewData["Title"] = "Atualizar venda";
}

<h2>@ViewData["Title"]</h2>

<div>
    <hr />
    
    <p>Deseja realmente atualizar o status desta venda para <strong>Pago</strong>?</p>
    
    <form asp-action="Pay">
        <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Confirmar&nbsp; <span class="glyphicon glyphicon-ok" aria-hidden="true"></span></button> 
        </div>
    </form>
</div>
