@model SalesWeb.Models.ViewModel.ErrorViewModel
@{
    ViewData["Title"] = "Erro";
}

<h3>Um erro ocorreu ao processar a sua requisição</h3>

<p>
    <strong>Request ID:</strong> <code>@Model.RequestId</code> <br/>
    <strong>Mensagem:</strong> @Model.Message
</p>

<a href="javascript:window.history.back()" class="btn btn-primary btn-xs">Voltar</a>